RewriteEngine On

# Redirect /UChicagoTix/shownamehere to /UChicagoTix/?show=shownamehere (for local environment)
# RewriteRule ^/UChicagoTix/([^/]+)/?$ /UChicagoTix/?show=$1 [L,R=301]

# Rewrite /shownamehere to /?show=shownamehere (for production environment)
# RewriteRule ^([^/]+)/?$ /?show=$1 [L]
